In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix,classification_report
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
lab_enc=LabelEncoder()

import warnings
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_csv('https://raw.githubusercontent.com/dsrscientist/Data-Science-ML-Capstone-Projects/master/Automobile_insurance_fraud.csv',index_col=0)
df.head()

,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,insured_sex,...,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,_c39
months_as_customer,,,,,,,,,,,,,,,,,,,,,
328,48,521585,17-10-2014,OH,250/500,1000,1406.91,0,466132,MALE,...,YES,71610,6510,13020,52080,Saab,92x,2004,Y,NaN
228,42,342868,27-06-2006,IN,250/500,2000,1197.22,5000000,468176,MALE,...,?,5070,780,780,3510,Mercedes,E400,2007,Y,NaN
134,29,687698,06-09-2000,OH,100/300,2000,1413.14,5000000,430632,FEMALE,...,NO,34650,7700,3850,23100,Dodge,RAM,2007,N,NaN
256,41,227811,25-05-1990,IL,250/500,2000,1415.74,6000000,608117,FEMALE,...,NO,63400,6340,6340,50720,Chevrolet,Tahoe,2014,Y,NaN
228,44,367455,06-06-2014,IL,500/1000,1000,1583.91,6000000,610706,MALE,...,NO,6500,1300,650,4550,Accura,RSX,2009,N,NaN

In [3]:
df.describe()

,age,policy_number,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,capital-gains,capital-loss,incident_hour_of_the_day,number_of_vehicles_involved,bodily_injuries,witnesses,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_year,_c39
count,1000.000000,1000.000000,1000.000000,1000.000000,1.000000e+03,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000,0.0
mean,38.948000,546238.648000,1136.000000,1256.406150,1.101000e+06,501214.488000,25126.100000,-26793.700000,11.644000,1.83900,0.992000,1.487000,52761.94000,7433.420000,7399.570000,37928.950000,2005.103000,NaN
std,9.140287,257063.005276,611.864673,244.167395,2.297407e+06,71701.610941,27872.187708,28104.096686,6.951373,1.01888,0.820127,1.111335,26401.53319,4880.951853,4824.726179,18886.252893,6.015861,NaN
min,19.000000,100804.000000,500.000000,433.330000,-1.000000e+06,430104.000000,0.000000,-111100.000000,0.000000,1.00000,0.000000,0.000000,100.00000,0.000000,0.000000,70.000000,1995.000000,NaN
25%,32.000000,335980.250000,500.000000,1089.607500,0.000000e+00,448404.500000,0.000000,-51500.000000,6.000000,1.00000,0.000000,1.000000,41812.50000,4295.000000,4445.000000,30292.500000,2000.000000,NaN
50%,38.000000,533135.000000,1000.000000,1257.200000,0.000000e+00,466445.500000,0.000000,-23250.000000,12.000000,1.00000,1.000000,1.000000,58055.00000,6775.000000,6750.000000,42100.000000,2005.000000,NaN
75%,44.000000,759099.750000,2000.000000,1415.695000,0.000000e+00,603251.000000,51025.000000,0.000000,17.000000,3.00000,2.000000,2.000000,70592.50000,11305.000000,10885.000000,50822.500000,2010.000000,NaN
max,64.000000,999435.000000,2000.000000,2047.590000,1.000000e+07,620962.000000,100500.000000,0.000000,23.000000,4.00000,2.000000,3.000000,114920.00000,21450.000000,23670.000000,79560.000000,2015.000000,NaN

In [4]:
print('shape of the data -',df.shape)
print(df.info())

shape of the data - (1000, 39)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 328 to 456
Data columns (total 39 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   age                          1000 non-null   int64
 1   policy_number                1000 non-null   int64
 2   policy_bind_date             1000 non-null   object
 3   policy_state                 1000 non-null   object
 4   policy_csl                   1000 non-null   object
 5   policy_deductable            1000 non-null   int64
 6   policy_annual_premium        1000 non-null   float64
 7   umbrella_limit               1000 non-null   int64
 8   insured_zip                  1000 non-null   int64
 9   insured_sex                  1000 non-null   object
 10  insured_education_level      1000 non-null   object
 11  insured_occupation           1000 non-null   object
 12  insured_hobbies              1000 non-null   object
 13  insured_relationship         1000 non-null   object
 14  capital-gains                1000 non-null   int64
 15  capital-loss                 1000 non-null   int64
 16  incident_date                1000 non-null   object
 17  incident_type                1000 non-null   object
 18  collision_type               1000 non-null   object
 19  incident_severity            1000 non-null   object
 20  authorities_contacted        1000 non-null   object
 21  incident_state               1000 non-null   object
 22  incident_city                1000 non-null   object
 23  incident_location            1000 non-null   object
 24  incident_hour_of_the_day     1000 non-null   int64
 25  number_of_vehicles_involved  1000 non-null   int64
 26  property_damage              1000 non-null   object
 27  bodily_injuries              1000 non-null   int64
 28  witnesses                    1000 non-null   int64
 29  police_report_available      1000 non-null   object
 30  total_claim_amount           1000 non-null   int64
 31  injury_claim                 1000 non-null   int64
 32  property_claim               1000 non-null   int64
 33  vehicle_claim                1000 non-null   int64
 34  auto_make                    1000 non-null   object
 35  auto_model                   1000 non-null   object
 36  auto_year                    1000 non-null   int64
 37  fraud_reported               1000 non-null   object
 38  _c39                         0 non-null      float64
dtypes: float64(2), int64(16), object(21)
memory usage: 312.5+ KB
None

In [5]:
df=df.drop(columns=['_c39'])

In [6]:
df.shape

(1000, 38)

In [7]:
df.policy_bind_date.value_counts()

01-01-2006    3
28-04-1992    3
05-08-1992    3
14-12-1991    2
09-08-2004    2
             ..
03-06-2014    1
12-12-1998    1
18-02-1999    1
30-10-1997    1
11-11-1996    1
Name: policy_bind_date, Length: 951, dtype: int64

In [8]:
pd.set_option('display.max_rows',None)

In [9]:
df=df.drop(columns=['policy_bind_date'])

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 328 to 456
Data columns (total 37 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   age                          1000 non-null   int64
 1   policy_number                1000 non-null   int64
 2   policy_state                 1000 non-null   object
 3   policy_csl                   1000 non-null   object
 4   policy_deductable            1000 non-null   int64
 5   policy_annual_premium        1000 non-null   float64
 6   umbrella_limit               1000 non-null   int64
 7   insured_zip                  1000 non-null   int64
 8   insured_sex                  1000 non-null   object
 9   insured_education_level      1000 non-null   object
 10  insured_occupation           1000 non-null   object
 11  insured_hobbies              1000 non-null   object
 12  insured_relationship         1000 non-null   object
 13  capital-gains                1000 non-null   int64
 14  capital-loss                 1000 non-null   int64
 15  incident_date                1000 non-null   object
 16  incident_type                1000 non-null   object
 17  collision_type               1000 non-null   object
 18  incident_severity            1000 non-null   object
 19  authorities_contacted        1000 non-null   object
 20  incident_state               1000 non-null   object
 21  incident_city                1000 non-null   object
 22  incident_location            1000 non-null   object
 23  incident_hour_of_the_day     1000 non-null   int64
 24  number_of_vehicles_involved  1000 non-null   int64
 25  property_damage              1000 non-null   object
 26  bodily_injuries              1000 non-null   int64
 27  witnesses                    1000 non-null   int64
 28  police_report_available      1000 non-null   object
 29  total_claim_amount           1000 non-null   int64
 30  injury_claim                 1000 non-null   int64
 31  property_claim               1000 non-null   int64
 32  vehicle_claim                1000 non-null   int64
 33  auto_make                    1000 non-null   object
 34  auto_model                   1000 non-null   object
 35  auto_year                    1000 non-null   int64
 36  fraud_reported               1000 non-null   object
dtypes: float64(1), int64(16), object(20)
memory usage: 296.9+ KB

In [11]:
df.policy_state.value_counts()

OH    352
IL    338
IN    310
Name: policy_state, dtype: int64

In [12]:
df1=lab_enc.fit_transform(df['policy_state'])
df['policy_state']=df1

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 328 to 456
Data columns (total 37 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   age                          1000 non-null   int64
 1   policy_number                1000 non-null   int64
 2   policy_state                 1000 non-null   int32
 3   policy_csl                   1000 non-null   object
 4   policy_deductable            1000 non-null   int64
 5   policy_annual_premium        1000 non-null   float64
 6   umbrella_limit               1000 non-null   int64
 7   insured_zip                  1000 non-null   int64
 8   insured_sex                  1000 non-null   object
 9   insured_education_level      1000 non-null   object
 10  insured_occupation           1000 non-null   object
 11  insured_hobbies              1000 non-null   object
 12  insured_relationship         1000 non-null   object
 13  capital-gains                1000 non-null   int64
 14  capital-loss                 1000 non-null   int64
 15  incident_date                1000 non-null   object
 16  incident_type                1000 non-null   object
 17  collision_type               1000 non-null   object
 18  incident_severity            1000 non-null   object
 19  authorities_contacted        1000 non-null   object
 20  incident_state               1000 non-null   object
 21  incident_city                1000 non-null   object
 22  incident_location            1000 non-null   object
 23  incident_hour_of_the_day     1000 non-null   int64
 24  number_of_vehicles_involved  1000 non-null   int64
 25  property_damage              1000 non-null   object
 26  bodily_injuries              1000 non-null   int64
 27  witnesses                    1000 non-null   int64
 28  police_report_available      1000 non-null   object
 29  total_claim_amount           1000 non-null   int64
 30  injury_claim                 1000 non-null   int64
 31  property_claim               1000 non-null   int64
 32  vehicle_claim                1000 non-null   int64
 33  auto_make                    1000 non-null   object
 34  auto_model                   1000 non-null   object
 35  auto_year                    1000 non-null   int64
 36  fraud_reported               1000 non-null   object
dtypes: float64(1), int32(1), int64(16), object(19)
memory usage: 293.0+ KB

In [14]:
df.policy_csl.value_counts()

250/500     351
100/300     349
500/1000    300
Name: policy_csl, dtype: int64

In [15]:
df1=lab_enc.fit_transform(df['policy_csl'])
df['policy_csl']=df1

In [16]:
df.head()

,age,policy_number,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,insured_sex,insured_education_level,...,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported
months_as_customer,,,,,,,,,,,,,,,,,,,,,
328,48,521585,2,1,1000,1406.91,0,466132,MALE,MD,...,2,YES,71610,6510,13020,52080,Saab,92x,2004,Y
228,42,342868,1,1,2000,1197.22,5000000,468176,MALE,MD,...,0,?,5070,780,780,3510,Mercedes,E400,2007,Y
134,29,687698,2,0,2000,1413.14,5000000,430632,FEMALE,PhD,...,3,NO,34650,7700,3850,23100,Dodge,RAM,2007,N
256,41,227811,0,1,2000,1415.74,6000000,608117,FEMALE,PhD,...,2,NO,63400,6340,6340,50720,Chevrolet,Tahoe,2014,Y
228,44,367455,0,2,1000,1583.91,6000000,610706,MALE,Associate,...,1,NO,6500,1300,650,4550,Accura,RSX,2009,N

In [17]:
insured_sex

NameError: name 'insured_sex' is not defined

In [55]:
df1=lab_enc.fit_transform(df['insured_sex'])
df['insured_sex']=df1

In [ ]:
df.head()

In [ ]:
df.insured_education_level.value_counts()

In [54]:
df1=lab_enc.fit_transform(df['insured_education_level'])
df['insured_education_level']=df1

In [18]:
df.insured_occupation.value_counts()

machine-op-inspct    93
prof-specialty       85
tech-support         78
sales                76
exec-managerial      76
craft-repair         74
transport-moving     72
other-service        71
priv-house-serv      71
armed-forces         69
adm-clerical         65
protective-serv      63
handlers-cleaners    54
farming-fishing      53
Name: insured_occupation, dtype: int64

In [19]:
df1=lab_enc.fit_transform(df['insured_occupation'])
df['insured_occupation']=df1

In [20]:
df.insured_hobbies.value_counts()

reading           64
exercise          57
paintball         57
bungie-jumping    56
movies            55
golf              55
camping           55
kayaking          54
yachting          53
hiking            52
video-games       50
skydiving         49
base-jumping      49
board-games       48
polo              47
chess             46
dancing           43
sleeping          41
cross-fit         35
basketball        34
Name: insured_hobbies, dtype: int64

In [21]:
df1=lab_enc.fit_transform(df['insured_hobbies'])
df['insured_hobbies']=df1

In [22]:
df.insured_relationship.value_counts()

own-child         183
other-relative    177
not-in-family     174
husband           170
wife              155
unmarried         141
Name: insured_relationship, dtype: int64

In [23]:
df1=lab_enc.fit_transform(df['insured_relationship'])
df['insured_relationship']=df1

In [24]:
df=df.drop(columns=['incident_date'])

In [25]:
df.incident_type.value_counts()

Multi-vehicle Collision     419
Single Vehicle Collision    403
Vehicle Theft                94
Parked Car                   84
Name: incident_type, dtype: int64

In [26]:
df1=lab_enc.fit_transform(df['incident_type'])
df['incident_type']=df1

In [27]:
df.collision_type.value_counts()

Rear Collision     292
Side Collision     276
Front Collision    254
?                  178
Name: collision_type, dtype: int64

In [28]:
df1=lab_enc.fit_transform(df['collision_type'])
df['collision_type']=df1

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 328 to 456
Data columns (total 36 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   age                          1000 non-null   int64
 1   policy_number                1000 non-null   int64
 2   policy_state                 1000 non-null   int32
 3   policy_csl                   1000 non-null   int32
 4   policy_deductable            1000 non-null   int64
 5   policy_annual_premium        1000 non-null   float64
 6   umbrella_limit               1000 non-null   int64
 7   insured_zip                  1000 non-null   int64
 8   insured_sex                  1000 non-null   object
 9   insured_education_level      1000 non-null   object
 10  insured_occupation           1000 non-null   int32
 11  insured_hobbies              1000 non-null   int32
 12  insured_relationship         1000 non-null   int32
 13  capital-gains                1000 non-null   int64
 14  capital-loss                 1000 non-null   int64
 15  incident_type                1000 non-null   int32
 16  collision_type               1000 non-null   int32
 17  incident_severity            1000 non-null   object
 18  authorities_contacted        1000 non-null   object
 19  incident_state               1000 non-null   object
 20  incident_city                1000 non-null   object
 21  incident_location            1000 non-null   object
 22  incident_hour_of_the_day     1000 non-null   int64
 23  number_of_vehicles_involved  1000 non-null   int64
 24  property_damage              1000 non-null   object
 25  bodily_injuries              1000 non-null   int64
 26  witnesses                    1000 non-null   int64
 27  police_report_available      1000 non-null   object
 28  total_claim_amount           1000 non-null   int64
 29  injury_claim                 1000 non-null   int64
 30  property_claim               1000 non-null   int64
 31  vehicle_claim                1000 non-null   int64
 32  auto_make                    1000 non-null   object
 33  auto_model                   1000 non-null   object
 34  auto_year                    1000 non-null   int64
 35  fraud_reported               1000 non-null   object
dtypes: float64(1), int32(7), int64(16), object(12)
memory usage: 261.7+ KB

In [30]:
df.insured_sex.value_counts()

FEMALE    537
MALE      463
Name: insured_sex, dtype: int64

In [31]:
df1=lab_enc.fit_transform(df['insured_sex'])
df['insured_sex']=df1

In [32]:
df.incident_severity.value_counts()

Minor Damage      354
Total Loss        280
Major Damage      276
Trivial Damage     90
Name: incident_severity, dtype: int64

In [33]:
df1=lab_enc.fit_transform(df['incident_severity'])
df['incident_severity']=df1

In [34]:
df.authorities_contacted.value_counts()

Police       292
Fire         223
Other        198
Ambulance    196
None          91
Name: authorities_contacted, dtype: int64

In [35]:
df1=lab_enc.fit_transform(df['authorities_contacted'])
df['authorities_contacted']=df1

In [36]:
df.incident_state.value_counts()

NY    262
SC    248
WV    217
VA    110
NC    110
PA     30
OH     23
Name: incident_state, dtype: int64

In [37]:
df1=lab_enc.fit_transform(df['incident_state'])
df['incident_state']=df1

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 328 to 456
Data columns (total 36 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   age                          1000 non-null   int64
 1   policy_number                1000 non-null   int64
 2   policy_state                 1000 non-null   int32
 3   policy_csl                   1000 non-null   int32
 4   policy_deductable            1000 non-null   int64
 5   policy_annual_premium        1000 non-null   float64
 6   umbrella_limit               1000 non-null   int64
 7   insured_zip                  1000 non-null   int64
 8   insured_sex                  1000 non-null   int32
 9   insured_education_level      1000 non-null   object
 10  insured_occupation           1000 non-null   int32
 11  insured_hobbies              1000 non-null   int32
 12  insured_relationship         1000 non-null   int32
 13  capital-gains                1000 non-null   int64
 14  capital-loss                 1000 non-null   int64
 15  incident_type                1000 non-null   int32
 16  collision_type               1000 non-null   int32
 17  incident_severity            1000 non-null   int32
 18  authorities_contacted        1000 non-null   int32
 19  incident_state               1000 non-null   int32
 20  incident_city                1000 non-null   object
 21  incident_location            1000 non-null   object
 22  incident_hour_of_the_day     1000 non-null   int64
 23  number_of_vehicles_involved  1000 non-null   int64
 24  property_damage              1000 non-null   object
 25  bodily_injuries              1000 non-null   int64
 26  witnesses                    1000 non-null   int64
 27  police_report_available      1000 non-null   object
 28  total_claim_amount           1000 non-null   int64
 29  injury_claim                 1000 non-null   int64
 30  property_claim               1000 non-null   int64
 31  vehicle_claim                1000 non-null   int64
 32  auto_make                    1000 non-null   object
 33  auto_model                   1000 non-null   object
 34  auto_year                    1000 non-null   int64
 35  fraud_reported               1000 non-null   object
dtypes: float64(1), int32(11), int64(16), object(8)
memory usage: 246.1+ KB

In [39]:
df1=lab_enc.fit_transform(df['incident_city'])
df['incident_city']=df1

In [40]:
df1=lab_enc.fit_transform(df['incident_location'])
df['incident_location']=df1

In [41]:
df1=lab_enc.fit_transform(df['property_damage'])
df['property_damage']=df1

In [42]:
df1=lab_enc.fit_transform(df['police_report_available'])
df['police_report_available']=df1

In [43]:
df1=lab_enc.fit_transform(df['auto_make'])
df['auto_make']=df1

In [44]:
df1=lab_enc.fit_transform(df['auto_model'])
df['auto_model']=df1

In [45]:
df1=lab_enc.fit_transform(df['fraud_reported'])
df['fraud_reported']=df1

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 328 to 456
Data columns (total 36 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   age                          1000 non-null   int64
 1   policy_number                1000 non-null   int64
 2   policy_state                 1000 non-null   int32
 3   policy_csl                   1000 non-null   int32
 4   policy_deductable            1000 non-null   int64
 5   policy_annual_premium        1000 non-null   float64
 6   umbrella_limit               1000 non-null   int64
 7   insured_zip                  1000 non-null   int64
 8   insured_sex                  1000 non-null   int64
 9   insured_education_level      1000 non-null   int32
 10  insured_occupation           1000 non-null   int32
 11  insured_hobbies              1000 non-null   int32
 12  insured_relationship         1000 non-null   int32
 13  capital-gains                1000 non-null   int64
 14  capital-loss                 1000 non-null   int64
 15  incident_type                1000 non-null   int32
 16  collision_type               1000 non-null   int32
 17  incident_severity            1000 non-null   int32
 18  authorities_contacted        1000 non-null   int32
 19  incident_state               1000 non-null   int32
 20  incident_city                1000 non-null   int32
 21  incident_location            1000 non-null   int32
 22  incident_hour_of_the_day     1000 non-null   int64
 23  number_of_vehicles_involved  1000 non-null   int64
 24  property_damage              1000 non-null   int32
 25  bodily_injuries              1000 non-null   int64
 26  witnesses                    1000 non-null   int64
 27  police_report_available      1000 non-null   int32
 28  total_claim_amount           1000 non-null   int64
 29  injury_claim                 1000 non-null   int64
 30  property_claim               1000 non-null   int64
 31  vehicle_claim                1000 non-null   int64
 32  auto_make                    1000 non-null   int32
 33  auto_model                   1000 non-null   int32
 34  auto_year                    1000 non-null   int64
 35  fraud_reported               1000 non-null   int32
dtypes: float64(1), int32(18), int64(17)
memory usage: 218.8 KB

In [58]:
df.fraud_reported.value_counts()

0    753
1    247
Name: fraud_reported, dtype: int64

In [59]:
from sklearn.feature_selection import SelectKBest, f_classif

In [60]:
df['fraud_reported']=df['fraud_reported'].replace({'Y':1,'N':0})

In [61]:
X=df.drop('fraud_reported',axis=1)
y=df['fraud_reported']

In [62]:
best_features=SelectKBest(score_func=f_classif, k=9)
fit=best_features.fit(X,y)

df_scores=pd.DataFrame(fit.scores_)#as we kknow this will be done through ANOVA , taht score I am going to get

df_columns=pd.DataFrame(X.columns)

feature_scores=pd.concat([df_columns,df_scores],axis=1)

feature_scores.columns=['Features_Name','Score']#name output columns

print(feature_scores.nlargest(9,'Score'))

                  Features_Name       Score
17            incident_severity  196.960603
31                vehicle_claim   29.718214
28           total_claim_amount   27.463776
30               property_claim   19.327729
16               collision_type   12.252860
29                 injury_claim    8.328776
6                umbrella_limit    3.441452
23  number_of_vehicles_involved    2.689100
19               incident_state    2.644427

In [63]:
new_X=df[['incident_severity','vehicle_claim','total_claim_amount','property_claim','collision_type',
         'injury_claim','umbrella_limit','number_of_vehicles_involved','incident_state']]

In [64]:
scalar=StandardScaler()
X_scalar=scalar.fit_transform(new_X)

In [65]:
from time import time

x_train,x_test,y_train,y_test=train_test_split(X_scalar,y,test_size=0.25, random_state=355)

knn=KNeighborsClassifier()

start=time()
knn.fit(x_train,y_train)
print("Knn Training time",(time()-start))

start=time()
y_pred=knn.predict(x_test)
print("Knn Test time",(time()-start))

Knn Training time 0.0020003318786621094
Knn Test time 0.01600360870361328

In [66]:
cfm=confusion_matrix(y_test,y_pred)
cfm

array([[167,  15],
       [ 54,  14]], dtype=int64)

In [67]:
print(classification_report(y_test,y_pred,digits=2))

              precision    recall  f1-score   support

           0       0.76      0.92      0.83       182
           1       0.48      0.21      0.29        68

    accuracy                           0.72       250
   macro avg       0.62      0.56      0.56       250
weighted avg       0.68      0.72      0.68       250

In [68]:
from sklearn.model_selection import KFold,cross_val_score

k_f=KFold(n_splits=3,shuffle=True)

k_f

KFold(n_splits=3, random_state=None, shuffle=True)

In [69]:
for train,test in k_f.split([1,2,3,4,5,6,7,8,9,10]):
    print('train',train,'test',test)

train [2 4 5 7 8 9] test [0 1 3 6]
train [0 1 3 5 6 8 9] test [2 4 7]
train [0 1 2 3 4 6 7] test [5 8 9]

In [70]:
cross_val_score(knn,X_scalar,y,cv=10)

array([0.79, 0.77, 0.74, 0.8 , 0.71, 0.73, 0.72, 0.8 , 0.78, 0.75])

In [71]:
cross_val_score(KNeighborsClassifier(),X_scalar,y,cv=5).mean()

0.7630000000000001

In [72]:
from sklearn.model_selection import GridSearchCV

In [73]:
param_grid={'algorithm':['kd_tree','brute'],
            'leaf_size':[3,5,6,7,8],
            'n_neighbors':[3,5,7,9,11,13]
}

In [74]:
gridsearch=GridSearchCV(estimator=knn,param_grid=param_grid)

In [75]:
gridsearch.fit(x_train,y_train)

GridSearchCV(estimator=KNeighborsClassifier(),
             param_grid={'algorithm': ['kd_tree', 'brute'],
                         'leaf_size': [3, 5, 6, 7, 8],
                         'n_neighbors': [3, 5, 7, 9, 11, 13]})

In [75]:
gridsearch.best_params_

{'algorithm': 'kd_tree', 'leaf_size': 3, 'n_neighbors': 13}

In [76]:
knn = KNeighborsClassifier(algorithm ='kd_tree',leaf_size=3,n_neighbors=13)

In [77]:
knn.fit(x_train,y_train)

KNeighborsClassifier(algorithm='kd_tree', leaf_size=3, n_neighbors=13)

In [78]:
y_pred=knn.predict(x_test)

In [79]:
cfm=confusion_matrix(y_test,y_pred)
cfm

array([[175,   7],
       [ 55,  13]], dtype=int64)

In [80]:
print(classification_report(y_test,y_pred,digits=2))

              precision    recall  f1-score   support

           0       0.76      0.96      0.85       182
           1       0.65      0.19      0.30        68

    accuracy                           0.75       250
   macro avg       0.71      0.58      0.57       250
weighted avg       0.73      0.75      0.70       250