In [25]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix,classification_report
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
lab_enc=LabelEncoder()

import warnings
warnings.filterwarnings('ignore')

In [26]:
df=pd.read_csv('https://raw.githubusercontent.com/dsrscientist/DSData/master/loan_prediction.csv',index_col=0)
df.head(100)

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
Loan_ID,,,,,,,,,,,,
LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...
LP001326,Male,No,0,Graduate,NaN,6782,0.0,NaN,360.0,NaN,Urban,N
LP001327,Female,Yes,0,Graduate,No,2484,2302.0,137.0,360.0,1.0,Semiurban,Y
LP001333,Male,Yes,0,Graduate,No,1977,997.0,50.0,360.0,1.0,Semiurban,Y
LP001334,Male,Yes,0,Not Graduate,No,4188,0.0,115.0,180.0,1.0,Semiurban,Y
LP001343,Male,Yes,0,Graduate,No,1759,3541.0,131.0,360.0,1.0,Semiurban,Y

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 614 entries, LP001002 to LP002990
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             601 non-null    object
 1   Married            611 non-null    object
 2   Dependents         599 non-null    object
 3   Education          614 non-null    object
 4   Self_Employed      582 non-null    object
 5   ApplicantIncome    614 non-null    int64
 6   CoapplicantIncome  614 non-null    float64
 7   LoanAmount         592 non-null    float64
 8   Loan_Amount_Term   600 non-null    float64
 9   Credit_History     564 non-null    float64
 10  Property_Area      614 non-null    object
 11  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(7)
memory usage: 62.4+ KB

In [28]:
df.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,614.000000,614.000000,592.000000,600.00000,564.000000
mean,5403.459283,1621.245798,146.412162,342.00000,0.842199
std,6109.041673,2926.248369,85.587325,65.12041,0.364878
min,150.000000,0.000000,9.000000,12.00000,0.000000
25%,2877.500000,0.000000,100.000000,360.00000,1.000000
50%,3812.500000,1188.500000,128.000000,360.00000,1.000000
75%,5795.000000,2297.250000,168.000000,360.00000,1.000000
max,81000.000000,41667.000000,700.000000,480.00000,1.000000

In [29]:
df1=lab_enc.fit_transform(df['Gender'])
df['Gender']=df1

In [30]:
df1=lab_enc.fit_transform(df['Married'])
df['Married']=df1

In [31]:
df1=lab_enc.fit_transform(df['Dependents'])
df['Dependents']=df1

In [32]:
df1=lab_enc.fit_transform(df['Education'])
df['Education']=df1

In [33]:
df1=lab_enc.fit_transform(df['Self_Employed'])
df['Self_Employed']=df1

In [34]:
df1=lab_enc.fit_transform(df['Property_Area'])
df['Property_Area']=df1

In [35]:
df1=lab_enc.fit_transform(df['Loan_Status'])
df['Loan_Status']=df1

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 614 entries, LP001002 to LP002990
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             614 non-null    int32
 1   Married            614 non-null    int32
 2   Dependents         614 non-null    int32
 3   Education          614 non-null    int32
 4   Self_Employed      614 non-null    int32
 5   ApplicantIncome    614 non-null    int64
 6   CoapplicantIncome  614 non-null    float64
 7   LoanAmount         592 non-null    float64
 8   Loan_Amount_Term   600 non-null    float64
 9   Credit_History     564 non-null    float64
 10  Property_Area      614 non-null    int32
 11  Loan_Status        614 non-null    int32
dtypes: float64(4), int32(7), int64(1)
memory usage: 45.6+ KB

In [40]:
mode_value1=df['LoanAmount'].mode()
print(mode_value1)

0    120.0
dtype: float64

22

In [41]:
df['LoanAmount'].fillna(value=mode_value1, inplace=True)
df['LoanAmount'].isnull().sum()

22

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 614 entries, LP001002 to LP002990
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             614 non-null    int32
 1   Married            614 non-null    int32
 2   Dependents         614 non-null    int32
 3   Education          614 non-null    int32
 4   Self_Employed      614 non-null    int32
 5   ApplicantIncome    614 non-null    int64
 6   CoapplicantIncome  614 non-null    float64
 7   LoanAmount         592 non-null    float64
 8   Loan_Amount_Term   600 non-null    float64
 9   Credit_History     564 non-null    float64
 10  Property_Area      614 non-null    int32
 11  Loan_Status        614 non-null    int32
dtypes: float64(4), int32(7), int64(1)
memory usage: 45.6+ KB

In [20]:
mode_value1

0    120.0
dtype: float64

In [42]:
df['LoanAmount'].fillna(value=120, inplace=True)

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 614 entries, LP001002 to LP002990
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             614 non-null    int32
 1   Married            614 non-null    int32
 2   Dependents         614 non-null    int32
 3   Education          614 non-null    int32
 4   Self_Employed      614 non-null    int32
 5   ApplicantIncome    614 non-null    int64
 6   CoapplicantIncome  614 non-null    float64
 7   LoanAmount         614 non-null    float64
 8   Loan_Amount_Term   600 non-null    float64
 9   Credit_History     564 non-null    float64
 10  Property_Area      614 non-null    int32
 11  Loan_Status        614 non-null    int32
dtypes: float64(4), int32(7), int64(1)
memory usage: 45.6+ KB

In [45]:
mode_value1=df['Loan_Amount_Term'].mode()
print(mode_value1)
df['Loan_Amount_Term'].fillna(value=mode_value1, inplace=True)
df['Loan_Amount_Term'].isnull().sum()

0    360.0
dtype: float64

14

In [46]:
df['Loan_Amount_Term'].fillna(value=360, inplace=True)
df['Loan_Amount_Term'].isnull().sum()

0

In [47]:
df.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
Loan_ID,,,,,,,,,,,,
LP001002,1,0,0,0,0,5849,0.0,120.0,360.0,1.0,2,1
LP001003,1,1,1,0,0,4583,1508.0,128.0,360.0,1.0,0,0
LP001005,1,1,0,0,1,3000,0.0,66.0,360.0,1.0,2,1
LP001006,1,1,0,1,0,2583,2358.0,120.0,360.0,1.0,2,1
LP001008,1,0,0,0,0,6000,0.0,141.0,360.0,1.0,2,1

In [48]:
mode_value1=df['Credit_History'].mode()
print(mode_value1)
df['Credit_History'].fillna(value=mode_value1, inplace=True)
df['Credit_History'].isnull().sum()

0    1.0
dtype: float64

50

In [49]:
df['Credit_History'].fillna(value=1.0, inplace=True)
df['Credit_History'].isnull().sum()

0

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 614 entries, LP001002 to LP002990
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             614 non-null    int32
 1   Married            614 non-null    int32
 2   Dependents         614 non-null    int32
 3   Education          614 non-null    int32
 4   Self_Employed      614 non-null    int32
 5   ApplicantIncome    614 non-null    int64
 6   CoapplicantIncome  614 non-null    float64
 7   LoanAmount         614 non-null    float64
 8   Loan_Amount_Term   614 non-null    float64
 9   Credit_History     614 non-null    float64
 10  Property_Area      614 non-null    int32
 11  Loan_Status        614 non-null    int32
dtypes: float64(4), int32(7), int64(1)
memory usage: 45.6+ KB

In [51]:
from sklearn.feature_selection import SelectKBest, f_classif

In [52]:
df['Loan_Status']=df['Loan_Status'].replace({'N':0,'Y':1})

In [53]:
X=df.drop('Loan_Status',axis=1)
y=df['Loan_Status']

In [55]:
best_features=SelectKBest(score_func=f_classif, k=7)
fit=best_features.fit(X,y)

df_scores=pd.DataFrame(fit.scores_)

df_columns=pd.DataFrame(X.columns)

feature_scores=pd.concat([df_columns,df_scores],axis=1)

feature_scores.columns=['Features_Name','Score']

print(feature_scores.nlargest(7,'Score'))

        Features_Name       Score
9      Credit_History  252.652090
1             Married    5.771607
3           Education    4.547685
6   CoapplicantIncome    2.151457
10      Property_Area    0.631733
7          LoanAmount    0.619831
8    Loan_Amount_Term    0.311334

In [56]:
new_X=df[['Credit_History','Married','Education','CoapplicantIncome','Property_Area','LoanAmount','Loan_Amount_Term']]

In [57]:
scalar=StandardScaler()
X_scalar=scalar.fit_transform(new_X)

In [58]:
from time import time

x_train,x_test,y_train,y_test=train_test_split(X_scalar,y,test_size=0.25, random_state=355)

knn=KNeighborsClassifier()

start=time()
knn.fit(x_train,y_train)
print("Knn Training time",(time()-start))

start=time()
y_pred=knn.predict(x_test)
print("Knn Test time",(time()-start))

Knn Training time 0.006016731262207031
Knn Test time 0.009004592895507812

In [59]:
cfm=confusion_matrix(y_test,y_pred)
cfm

array([[21, 26],
       [ 9, 98]], dtype=int64)

In [60]:
print(classification_report(y_test,y_pred,digits=2))

              precision    recall  f1-score   support

           0       0.70      0.45      0.55        47
           1       0.79      0.92      0.85       107

    accuracy                           0.77       154
   macro avg       0.75      0.68      0.70       154
weighted avg       0.76      0.77      0.76       154

In [61]:
from sklearn.model_selection import KFold,cross_val_score

k_f=KFold(n_splits=3,shuffle=True)

k_f

KFold(n_splits=3, random_state=None, shuffle=True)

In [62]:
for train,test in k_f.split([1,2,3,4,5,6,7,8,9,10]):
    print('train',train,'test',test)

train [2 3 6 7 8 9] test [0 1 4 5]
train [0 1 2 3 4 5 7] test [6 8 9]
train [0 1 4 5 6 8 9] test [2 3 7]

In [63]:
cross_val_score(knn,X_scalar,y,cv=10)

array([0.74193548, 0.80645161, 0.75806452, 0.75806452, 0.7704918 ,
       0.78688525, 0.81967213, 0.78688525, 0.7704918 , 0.83606557])

In [64]:
cross_val_score(KNeighborsClassifier(),X_scalar,y,cv=5).mean()

0.7719845395175262

In [ ]:
Hyperparameter tuning

In [65]:
from sklearn.model_selection import GridSearchCV

In [66]:
param_grid={'algorithm':['kd_tree','brute'],
            'leaf_size':[3,5,6,7,8],
            'n_neighbors':[3,5,7,9,11,13]
}

In [67]:
gridsearch=GridSearchCV(estimator=knn,param_grid=param_grid)

In [68]:
gridsearch.fit(x_train,y_train)

GridSearchCV(estimator=KNeighborsClassifier(),
             param_grid={'algorithm': ['kd_tree', 'brute'],
                         'leaf_size': [3, 5, 6, 7, 8],
                         'n_neighbors': [3, 5, 7, 9, 11, 13]})

In [69]:
gridsearch.best_params_

{'algorithm': 'kd_tree', 'leaf_size': 3, 'n_neighbors': 7}

In [70]:
knn = KNeighborsClassifier(algorithm ='kd_tree',leaf_size=3,n_neighbors=7)

In [71]:
knn.fit(x_train,y_train)

KNeighborsClassifier(algorithm='kd_tree', leaf_size=3, n_neighbors=7)

In [72]:
y_pred=knn.predict(x_test)

In [73]:
cfm=confusion_matrix(y_test,y_pred)
cfm

array([[19, 28],
       [ 8, 99]], dtype=int64)

In [74]:
print(classification_report(y_test,y_pred,digits=2))

              precision    recall  f1-score   support

           0       0.70      0.40      0.51        47
           1       0.78      0.93      0.85       107

    accuracy                           0.77       154
   macro avg       0.74      0.66      0.68       154
weighted avg       0.76      0.77      0.74       154